.chatbot {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    font-family: sans-serif;
    background-color: #e8ebeb; 
  }
  
  .logo {
    display: flex;
    align-items: center;
  }
  
  .logo img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
  }
  
  .chat-window {
    height: 350px;
    width: 100%;
    overflow-y: auto;
    margin-bottom: 20px;
  }
  
  .message {
    display: flex;
    margin-bottom: 10px;
  }
  
  .right {
    justify-content: flex-end;
  }
  
  .left {
    justify-content: flex-start;
  }
  
  .message p {
    padding: 10px;
    border-radius: 20px;
    background-color: #eee;
    max-width: 60%;
    word-wrap: break-word;
  }
  
  .message.left p {
    background-color: #2ecc71;
    color: #fff;
  }
  
  .message.right p {
    background-color: #3498db;
    color: #fff;
  }
  
  .input-container {
    display: flex;
    margin-top: 20px;
  }
  
  #input-field {
    flex-grow: 1;
    padding: 10px;
    border: none;
    border-radius: 20px;
    font-size: 16px;
  }
  
  #submit-button {
    padding: 10px 20px;
    margin-left: 10px;
    border: none;
    border-radius: 20px;
    background-color: #3498db;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
  }
  body {
    background-color: #373b3c1e; /* Set the desired grey color */
  }
  